                        /* Custom Css  */

.slider-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.buy-now-btn{
    padding: 10px 20px;
    color: #ffff;
    font-weight: 400;
    background-color: #FF589B;
    border: none;
    border-radius: 7px; 
    transition:  .4s ease-in-out;
}
.buy-now-btn:hover{
    color: black;
    background-color: #ffff;
    border: 2px solid #FF589B;
    transform: scale(1); 
}